TTS_HOME=voices
HF_HOME=voices
#PRELOAD_MODEL=xtts
#PRELOAD_MODEL=xtts_v2.0.2
#PRELOAD_MODEL=parler-tts/parler_tts_mini_v0.1
#EXTRA_ARGS=--log-level DEBUG --unload-timer 300
#USE_ROCM=1

DEEPGRAM_API_KEY=

MUX_TOKEN_ID=
MUX_TOKEN_SECRET=

OLLAMA_API_BASE_URL=http://ollama:11434
WEBUI_AUTH=0  # Disable auth for simplicity; set to 1 for admin login
TTS_API_BASE_URL=http://speaches:8000/v1
TTS_API_KEY=sk-111111111
TTS_VOICE=nova  # Default voice; can be changed to echo, fable, onyx, etc.
STT_PROVIDER=openai  # Recommended to use Deepgram or OpenAI for speech-to-text
AUDIO_STT_OPENAI_API_BASE_URL="http://speaches:8000/v1"
AUDIO_STT_OPENAI_API_KEY="not_used"
AUDIO_STT_MODEL="Systran/faster-distil-whisper-small.en"